<robot name="ruediger">
  <!-- Base link -->
  <link name="base_link">
    <visual>
      <!-- <origin xyz="0.06 0 0.065" rpy="0 0 0" /> -->
      <origin xyz="0.0 0 0.065" rpy="0 0 0" />
      <geometry>
          <box size="0.20 0.204 0.13"/>
      </geometry>
      <material name="yellow">
        <color rgba="0.8 0.8 0 1"/>
      </material>
    </visual>
  </link>
</robot>