<launch>
    <group ns="serial">
        <node name="rosserial" pkg="rosserial_python" type="serial_node.py">
		    <param name="port" value="/dev/ttyAMA0"/>
		    <param name="baud" value="333333.33"/>
	    </node>
    </group>

	<node pkg="tf" type="static_transform_publisher" name="to_imu" args="-0.063 0.015 0.036 0 0 0 base_link imu_data 100" />
	<node pkg="tf" type="static_transform_publisher" name="to_uss_front" args="0.076 0.035 0.09 0 0 0 base_link uss_data 100" />

	<node pkg="run_ruediger" type="imu_tf2_listener" name="listener" />
</launch>
